<div class="mini-bar mb-3 text-center bg-primary p-2 rounded">
  <p class="p-2 rounded bg-light">This bar display Survey analysis</p>
  <p class="p-2 rounded bg-light">Total question : <span id="Tquest" ></span> </p>
</div>
