            <sidebar class="bg-primary">
            <div class="container">
                <h1 class="mt-5">Welcome</h1>
                <p class="bg-white text-black p-2 rounded note mt-3">Pls note this site is srictly for some set of people</p>
            </div>
            <div>
                <ul class="side-nav mt-5">
                    <a href="/"><li id="home" class="allli active">Home</li></a>
                    <a href="/quests/surveyquestions"><li id="survey" class="allli">Survey questions</li></a>
                    <a href="/"><li id="answer" class="allli">Answers</li></a>
                    <a href="/users/testedusers"><li id="users" class="allli">Tested users</li></a>
                    <a href="/users/testpage"><li id="page" class="allli">Test page</li></a>
                </ul>
            </div>


            <div class="container">
                
            <%- include('./footer.ejs') %>
            </div>

        </sidebar>
    