<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="d-flex">
      <%- include('./partials/nav.ejs') %>

    <div class="add-quest mb-2 p-3 bg-white rounded">
      OOPS, page not found :(
    </div>
    </div>

  </body>
</html>
