<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="create-blog content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur,
        eligendi architecto! Inventore debitis magnam rem provident quibusdam?
        Corrupti labore beatae reiciendis ad quaerat earum explicabo aut libero,
        quod, repellat excepturi.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, ullam
        expedita? Harum porro assumenda provident repudiandae iusto laborum
        error, dolore praesentium voluptate ipsam aperiam cum fugit ab officia
        rerum modi!
      </p>
    </div>

    
  </body>
</html>
