<html lang="en">
  <%- include('../partials/thankyou_head.ejs') %>
  <body>
   <div class="content">
  <div class="wrapper-1">
    <div class="wrapper-2">
      <h1>Thank you !</h1>
      <p>Thanks for filling the form.  </p>
      <p>we have received your response  </p>
    </div>
    <div class="footer-like">
      <p>
       <a href="https://www.linkedin.com/in/joshua-adesoba-9144bb232/"><button class="go-home">
      Meet the developer
      </button></a>
      </p>
    </div>
</div>
</div>



<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet"> 
  </body>
</html>